html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET CSS */


/* Paste your css code here */
body{
    font-family:Arial;
    box-sizing: border-box;
    width: 700px;
    margin: 0 auto;
  }
  .title{
    display:flex;
    font-family: Arial bold;
    text-align: center;
    background-color: #e6834c;
    color: white;
    padding: 30px;px;
  }
  .title h1 h2{
    display: block;
   
  }
   .title img{
    background-color: #e6834c;
    border-radius: 50%;
  }
  
  .main-info{
  display:flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;
  background-color: #f0f4ff;
  margin: 30px 0px;
  /* text-align: center; */
  }
 .main-info h3{
   margin: 20px 0px;
 }
  
  .header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #454f6f; 
    font-size: 18px; 
    padding: 20px 0px;
  }
  
  /* .header-nav{
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
  } */
   header nav{
     width: 100%;
    /* padding:20px;
    margin-left:125px;
    font-size: 18px; 
    text-decoration: none */
  }
  .header nav a{
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
  
  .header h4{
    text-align: center;
    /* margin-left:30px; */
    color:white;
    margin: 10px 0px;
  } 
  
  a:hover{
    background-color:grey;
  }
  /* #hero-img{
      display: flex;
      width: 350px;
      height: auto;
      border-radius: 50%;
  } */
  .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
.menu p{
  text-align: center;
  margin: 20px 0px;

}
  .footer{ 
    text-align: center;
  } 
   .footer h4{
    margin-left:30px;
    color:white;
   } 

  .footer-nav{
    background-color: #333d59;
    text-align: center;
    display:flex;
  }
  .footer nav{
    display: flex;
    margin-left:125px;
    padding:20px;
    font-size: 18px; 
    text-decoration: none
  }
  .footer nav a{
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
  
  .copyright {
    background-color: #e6834c;
    padding:5px;
    margin: 0 auto;
  }
  a:hover, h3:hover, h4:hover{
    background-color:grey;
  }

  
  .contact-form{
    background-color: #f0f4ff;
    padding: 50px;
    margin: auto 0; 
  }
.contact-form h2{
text-align: center;
}
  input[type=text]{
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;}
   input[type=submit] {
     width:600px;
     background-color: #e6834c;
     padding: 12px 20px;
     margin: 8px 0;
   }


  
  @media (min-width: 600px) {
   .header{
     flex-direction: row;
   }
   .menu{
     display: flex;
     flex-direction: row;
     /* justify-content:center; */
     flex-wrap: wrap;
   }
   .pasta{
     margin:0px 1px;
   }
   .rice{
     margin:0px 10px;
   }
  }


  